@model Projeto_RH.Entidades.Rh

@{
    ViewData["Title"] = "Detalhes";
}

<h1>Detalhes</h1>

<div>
    <h4>Rh</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DataCadastro)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DataCadastro)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.N_Referencia_Pandape)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.N_Referencia_Pandape)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vaga)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vaga)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email_Solicitante)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email_Solicitante)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EnumFiliais)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EnumFiliais)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Solicitação_Infra)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Solicitação_Infra)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Solicitação_Telefonia)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Solicitação_Telefonia)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tipo_Equipamento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tipo_Equipamento)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cargo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cargo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Setor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Setor)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Andamento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Andamento)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id">Editar</a> |
    <a asp-action="Index">Voltar</a>
</div>