@model IEnumerable<Projeto_RH.Entidades.Rh>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DataCadastro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.N_Referencia_Pandape)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vaga)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email_Solicitante)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EnumFiliais)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Solicitação_Infra)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Solicitação_Telefonia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tipo_Equipamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cargo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Setor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Filial_infra)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Andamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Recebido_por)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataRecebimento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Serie_equipamento)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DataCadastro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.N_Referencia_Pandape)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vaga)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email_Solicitante)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EnumFiliais)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Solicitação_Infra)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Solicitação_Telefonia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tipo_Equipamento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cargo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Setor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Filial_infra)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Andamento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Recebido_por)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataRecebimento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Serie_equipamento)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id">Details</a> |
              
            </td>
        </tr>
}
    </tbody>
</table>
